    </div>
    <footer class="footer">
      <div class="footer__inner">
        <p><%= i18n.__('© Copyright 2016 Mousa International Cultural Communication, Ltd.') %></p>
        <p><%= i18n.__('All rights reserved.') %></p>
      </div>
    </footer>
    <script src="<%= CDN %>/bundle.js"></script>
  </body>
</html>
