    </div>
    <footer class="footer">
      <div class="footer__inner">
        <p>© Copyright 2016 Mousa International Cultural Communication, Ltd.</p>
        <p>All rights reserved.</p>
      </div>
    </footer>
    <script src="/js/index.js"></script>
  </body>
</html>
