<% include ./_head.ejs %>
<% include ./_navbar.ejs %>

<header class="header">
  <div class="header__bg"></div>
  <div class="header__content">
    <div class="header__c-inner">
      <h1 class="header__title"><%= config.page_title %></h1>
    </div>
  </div>
</header>

<article class="article">
  <%- article %>
</article>

<% include ./_foot.ejs %>
