<% include ./_head.ejs %>
<% include ./_navbar.ejs %>

<header class="header header--home">
  <div class="header__bg"></div>
  <div class="header__content">
    <div class="container">
      <picture>
        <source media="(min-width: 750px)" srcset="/img/misc/festival-w307-h100.png 2x">
        <source srcset="/img/misc/festival-w200-h65.png 2x">
        <img alt="Festival logo" />
      </picture>
      <h1 class="header__title"><%= i18n.__('Cleveland International Music Festival') %></h1>
    </div>
  </div>
</header>

<article class="article article__home"><%- article %></article>

<% include ./_foot.ejs %>
