<% include ./_head.ejs %>

<header class="header header--welcome">
  <div class="header__bg"></div>
  <div class="header__content">
    <div class="header__c-inner">
      <h1 class="header__title">克利夫兰国际音乐节</h1>
      <h1 class="header__title">July 26th - August 6th 2016</h1>
      <table class="header__nav">
        <tr>
          <td><a href="/cn" class="header__nav-link">中文</a></td>
          <td><a href="/en" class="header__nav-link">English</a></td>
        </tr>
      </table>
    </div>
  </div>
</header>

<% include ./_foot.ejs %>
