.article {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 50px;

  &.article__faculty {
    text-align: center;
    ul {
      @extend .clearfix;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      @include respond-to-larger-than-tablet {
        float: left;
        width: 50%;
      }
    }
  }

  &.article__faculty-detail {
    p:first-child, h2 {
      text-align: center;
    }
  }

  &.article__cim {
    img {
      display: block;
      margin: 10px auto;
    }
  }
}
