.header {
  position: relative;
}

.header__bg {
  height: 300px;
  background: url(/img/content-header-bg.jpeg) center center no-repeat;
  background-size: cover;
  @include respond-to-larger-than-tablet {
    height: 400px;
  }
}

.header__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

.header__c-inner {
  @extend .container;
}

.header__title {
}
