@mixin respond-to-larger-than-800px {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin nav-positioner {
  position: absolute;
  z-index: map-get($z-indexes, 'nav__positioner');
  top: 0;
  left: 0;
  width: 100%;
}

@mixin nav-link-base {
  display: inline-block;
  height: 80px - 10px * 2;
  line-height: 80px - 10px * 2;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

.nav {
  position: relative;
  z-index: map-get($z-indexes, 'nav');
  color: white;
}

.nav__top {
  @include nav-positioner;
  height: 44px;
  @include respond-to-larger-than-800px {
    display: none;
  }
}

.nav__home {
  float: left;
  display: block;
  padding: (44px - 24px) / 2;
  height: 44px;
  svg {
    fill: white;
  }
  @include respond-to-larger-than-800px {
    @include nav-link-base;
    float: none;
    vertical-align: middle;
  }
}

.nav__logo {
  display: block;
  width: 100px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  svg {
    width: 100px;
    height: 60px;
    margin-top: (44px - 60px) / 2;
  }
  @include respond-to-larger-than-800px {
    float: left;
  }
}

.nav__hamburger {
  border: none;
  padding: (44px - 24px) / 2;
  height: 44px;
  margin-bottom: 0;
  float: right;
  svg {
    fill: white;
  }
}

.nav__dropdown-mask {
  height: 0;
  overflow: hidden;
  background: black;
  transition: height 300ms;
  @include respond-to-larger-than-800px {
    display: none;
  }
}

.nav__dropdown {
  padding: 5px 0;
  background-color: black;
  margin: 44px 0 0;
}

.nav__dropdown-item {
  list-style: none;
  text-align: right;
  padding: 10px;
  margin-bottom: 0;
  font-size: 18px;
  a {
    color: white;
    text-decoration: none;
  }
}

.nav__desktop {
  display: none;
  @include nav-positioner;
  @include respond-to-larger-than-800px {
    display: block;
  }
}

.nav__desktop-inner {
  height: 80px;
  padding: 10px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.nav__nav-group {
  float: right;
  padding: 0 20px 0 0;
}

.nav__link {
  @include nav-link-base;
}
