*, *:before, *:after {
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'TIBch', 'Classic Grotesque W01', 'Hiragino Sans GB', 'STHeiti', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Microsoft YaHei', SimSun, sans-serif;
  font-size: 1.5rem;
  @include respond-to-larger-than-tablet {
    font-size: 1.7rem;
  }
}

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}
