*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'source-han-sans-simplified-c', sans-serif;
  // font-family: 'TIBch', 'Classic Grotesque W01', 'Hiragino Sans GB', 'STHeiti', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Microsoft YaHei', SimSun, sans-serif;
  line-height: 1.5;
}

body {
}

.container {
}
