<% include partial/_head %>

<div class="hero">
  <div class="hero__container">
    <img src="/img/cimf-logo.png" alt="" width="184">
    <h1>克利夫兰国际音乐节</h1>
    <div>
      <a class="hero__sel-lang" href="/cn">中文版</a>
      <a class="hero__sel-lang" href="/en">Engilish</a>
    </div>
  </div>
</div>

<% include partial/_foot %>
